# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [81]:
# Import sqlite3 and pandas
import sqlite3 as sl
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [82]:
# Create a new database called exercises.db.
conn = sl.connect('exercises.db')
print ("Opened database successfully");

Opened database successfully

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [113]:
# Create a new table in your database.

# CREATE TABLE excercises.favorite_books.db (
#             id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
#             Title TEXT,
#             Author TEXT,
#             Description TEXT
#         );
# with con:
conn.execute(""" 
    CREATE TABLE favorite_books (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            Title TEXT,
            Author TEXT,
            Description TEXT
        );
    """)

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [116]:
# Add your 3 favorite books to your table.
sql = 'INSERT INTO favorite_books (Title, author, Description) values(?, ?, ?)'
data = [
    ('Chronicles of Narnia', 'C.S. Lewis', 'thought provoking book'),
    ('Lord of the Rings', 'J.R.R.Tolkien', 'Good book'),
    ('From Strength to Strength', 'Arthur.C.Brooks', 'helps to understand success and purpose in life')
]

In [86]:
with conn:
    conn.executemany(sql, data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [71]:
# Write your SELECT query here.
with conn:
    data = conn.execute("select * from favorite_books")
    for row in data:
        print(row)

(1, 'Chronicles of Narnia', 'C.S. Lewis', 'thought provoking book')
(2, 'Lord of the Rings', 'J.R.R.Tolkien', 'Good book')
(3, 'From Strength to Strength', 'Arthur.C.Brooks', 'helps to understand success and purpose in life')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [109]:
import pandas as pd 
df_favorite_movies = pd.DataFrame({
    'user_id': [4,5,6],
    'Title': ['Batman', 'Titanic', 'Avengers']
})
df_favorite_movies

   user_id     Title
0        4    Batman
1        5   Titanic
2        6  Avengers

In [111]:
df_favorite_movies.to_sql('favorite_movie',conn)

3

In [112]:
df = pd.read_sql('''
    SELECT * from favorite_movie''', conn)
df

   index  user_id     Title
0      0        4    Batman
1      1        5   Titanic
2      2        6  Avengers